h2 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

img {
    height: 350px;
    width: 100%;
}

#product-card {
    width: 200px;
    border-style: none;
    border-radius: 20px;
    box-shadow: 1px;
}

/* #product-img {
    width: ;
} */